name: Check Formatting

on: [push, pull_request, workflow_dispatch]

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - run: nix fmt . -- --ci
